{% extends 'mailing/base.html' %}
{% block body %}
<div class="table-responsive small">
<table class="table table-striped table-sm">
        <thead>
        <tr>
              <th scope="col">#</th>
              <th scope="col">Header</th>
              <th scope="col">Header</th>
              <th scope="col">Header</th>
              <th scope="col">Header</th>
            </tr>
        </thead>
{% for client in Clients %}
  <tbody>
    <tr>
        <td>{{client.full_name}}</td>
        <td>{{client.email}}</td>
        <td>{{client.comment}}</td>
        <td><a href="{% url 'client_delete' client.pk %}"  class="btn btn-sm btn-outline-secondary">Delete</a></td>>
    </tr>
  </tbody>
{% endfor %}
</table>
</div>
{% endblock %}