{% extends 'mailing/base.html' %}
{% block body %}
<div class="table-responsive small">
<table class="table table-striped table-sm">
        <thead>
        <tr>
              <th scope="col">#</th>
              <th scope="col">Header</th>
              <th scope="col">Header</th>
              <th scope="col">Header</th>
              <th scope="col">Header</th>
            </tr>
        </thead>
{% for message in Messages %}
  <tbody>
    <tr>
        <td>{{message.pk}}</td>
        <td>{{message.theme}}</td>
        <td><a href="{% url 'message_delete' message.pk %}"  class="btn btn-sm btn-outline-secondary">Delete</a></td>
    </tr>
  </tbody>
{% endfor %}
</table>
</div>
{% endblock %}