{% extends 'mailing/base.html' %}

{% block body %}
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {% if perms.mailing.change_transmission %}
    <p>Title: {{ form.title }}</p>
    <p>Time: {{ form.time }}</p>
    <p>Frequency: {{ form.frequency }}</p>
    <p>essage: {{ form.message }}</p>
    <p>Clients: {{ form.clients }}</p>
    {% else %}
         {{ form.title.as_hidden }}
         {{ form.time.as_hidden }}
         {{ form.frequency.as_hidden }}
         {{ form.message.as_hidden }}
         {{ form.clients.as_hidden }}
    {% endif %}

     Active: {{ form.is_published }}
<br>
<input type="submit" value="Submit">
</form>
{% endblock %}
